@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
	font-family: 'Nanum Gothic';
}

h5 {
	font-family: 'Noto Sans KR';
	font-size: 15px;
}

h4 {
	font-family: 'Noto Sans KR';
}

h3 {
	font-family: 'Nanum Gothic';
	font-weight: bold;
}

h2 {
	font-family: 'Nanum Gothic';
	font-weight: bold;
}

h1 {
	font-family: 'Nanum Gothic';
	font-weight: bold;
}

/* 테이블 관련 디자인 처리 */
thead th {
	background-color: #000000;
	color: white;
	text-align: center;
}

tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* 모달 팝업창 관련 디자인 처리 */
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: all;
}

/* 채팅창 디자인 처리 */
 .portlet {
    margin-bottom: 15px;
}

.btn-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}

.portlet {
    border: 1px solid;
}

.portlet .portlet-heading {
    padding: 0 15px;
}

.portlet .portlet-heading h4 {
    padding: 1px 0;
    font-size: 16px;
}

.portlet .portlet-heading a {
    color: #fff;
}

.portlet .portlet-heading a:hover,
.portlet .portlet-heading a:active,
.portlet .portlet-heading a:focus {
    outline: none;
}

.portlet .portlet-widgets .dropdown-menu a {
    color: #333;
}

.portlet .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}

.portlet .portlet-heading .portlet-title {
    float: left;
}

.portlet .portlet-heading .portlet-title h4 {
    margin: 10px 0;
}

.portlet .portlet-heading .portlet-widgets {
    float: right;
    margin: 8px 0;
}

.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
    display: inline;
}

.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 5px;
}

.portlet .portlet-body {
    padding: 15px;
    background: #fff;
}

.portlet .portlet-footer {
    padding: 10px 15px;
    background: #e0e7e8;
}

.portlet .portlet-footer ul {
    margin: 0;
}

.portlet-green,
.portlet-green>.portlet-heading {
    border-color: #16a085;
}

.portlet-green>.portlet-heading {
    color: #fff;
    background-color: #16a085;
}

.portlet-orange,
.portlet-orange>.portlet-heading {
    border-color: #f39c12;
}

.portlet-orange>.portlet-heading {
    color: #fff;
    background-color: #f39c12;
}

.portlet-blue,
.portlet-blue>.portlet-heading {
    border-color: #2980b9;
}

.portlet-blue>.portlet-heading {
    color: #fff;
    background-color: #2980b9;
}

.portlet-red,
.portlet-red>.portlet-heading {
    border-color: #e74c3c;
}

.portlet-red>.portlet-heading {
    color: #fff;
    background-color: #e74c3c;
}

.portlet-purple,
.portlet-purple>.portlet-heading {
    border-color: #8e44ad;
}

.portlet-purple>.portlet-heading {
    color: #fff;
    background-color: #8e44ad;
}

.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    border-color: #34495e;
}

.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    color: #fff;
    background-color: #000000;
}

.portlet-basic,
.portlet-basic>.portlet-heading {
    border-color: #333;
}

.portlet-basic>.portlet-heading {
    border-bottom: 1px solid #333;
    color: #333;
    background-color: #fff;
}

@media(min-width:768px) {
    .portlet {
        margin-bottom: 30px;
    }
}

.img-chat{
width:40px;
height:40px;
}

.text-green {
    color: #16a085;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}   
  
/* 전체 링크 관련 영역 */
a {
	color: #000000;
	text-decoration: none; 
}    

a:hover {
	color: #bbbbbb;
	text-decoration: none;
	cursor: pointer;
}    

/* 내비게이션 영역 */
.navbar-default { /* 내비게이션 바 배경 색상 */
	background-color: #000000;
	border-color: #000000;
	border-bottom-color: #dddddd;
	border-bottom-width: 3px;
	border-radius: 0px;
}

.navbar-default .navbar-brand { /* 내비게이션 제목 색상 */
	color: #ffffff;
	padding-top: 25px;
	font-family: 'Fredoka One', cursive;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus { /* 내비게이션 제목에 마우스를 올렸을 때 */
	color: #dddddd;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { /* 선택된 내비게이션 마우스 색상 이벤트 */
	color: #000000;
	background-color: #ffffff;
}



.navbar-default .navbar-nav > li > a { /* 내비게이션 기본 폰트 변경 */
	color: white;
	font-family: 'Noto Sans KR';
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { /* 내비게이션 글자에 마우스를 올렸을 때 */
	color: #dddddd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { /* 열린 드랍다운 마우스 색상 이벤트 */
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { /* 토글에 마우스를 올렸을 때 */
	color: #ffffff;
	background-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar { /* 토글 아이콘 바 색상 */
	background-color: #ffffff;
}

/* 반응형 웹 */
@media (max-width: 767px) { /* 작은 화면일 때 드랍다운 아이템에 마우스를 올렸을 때 */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #eeeeee;
	}
}

/* 내비게이션 바 길이 수정 */
.navbar-fixed-top {
	min-height: 70px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 70px;
}

/* 반응형 웹 */
@media (max-width: 767px) {
	.navbar-default .navbar-brand {
		padding-top: 15px;
	}
	.navbar-nav > li > a {
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 40px;
	}
}

/* 파일 업로드 디자인 */
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.file {
	visibility: hidden;
	position: absolute;
}


.thead-type-1{
	background-color: #fafafa; 
	color: #000000;
}

.container-main-img{
	text-align:center;
	padding:7px; 
	padding-top:70px
}


.table-hover tbody tr {
	cursor: pointer;
}

.td-fafafa {
	background-color: #fafafa;
	color: #000000; 
	width: 80px;
}



.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 20px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}

.wecloset-pagination{
	color: black !important;
}
.wecloset-pagination-gray{
	color: gray !important;
}

.wecloset-pagination-active{
	background-color: #2E2E2E !important; 
	color: white !important;
}

.profile-img img{
	width: 100px;
	height: 100px;
}

.pd-l-10{
	padding-left: 10px;
}

.mb50{
	margin-bottom: 50px;
}



 .comment_textarea {
	 font-family:굴림; 
	 font-size:9pt; 
	 color:black; 
	 letter-spacing:120%; 
	 line-height:150%; 
	 background-color:#f6f6f7; 
	 padding:5px; 
	 border-width:0;
	 border-color:#f6f6f7; 
	 border-style:none;
	 width: 100%;
	 height: auto;
	 overflow:hidden;
	 min-height: 70px;
	 
}

.comment_textarea:focus {
    outline: none;
}



.thumb{
   margin-bottom: 50px;
}      
.page-top{
    margin-top:85px;
}
   
img.zoom {
    width: 100%;
    height: 349px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {
     border-bottom: none;
}
.modal-title {
   color:#000;
}
.modal-footer{
  display:none;  
}

.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.modal-header {
	border-bottom: none;
}

.modal-title {
	color: #000;
}

.modal-footer {
	display: none;
}


/* ------------------------ */

.btn_like {
  position: relative;
  margin: 5px auto;
  display: block;
  width: 44px;
  height: 44px;
  border: 1px solid #e8e8e8;
  border-radius: 44px;
  font-family: notokr-bold,sans-serif;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  color: #DD5D54;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.03);
  transition: border .2s ease-out,box-shadow .1s ease-out,background-color .4s ease-out;
  cursor: pointer;
  outline: none;
}

.btn_like:hover {
  border: 1px solid rgba(228,89,89,0.3);
  background-color: rgba(228,89,89,0.02);
  box-shadow: 0 2px 4px 0 rgba(228,89,89,0.2);
}

.btn_unlike .img_emoti {
    background-position: -30px -120px;
}

.img_emoti {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(../images/daily/img_emoti.png) no-repeat;
    text-indent: -9999px;
    vertical-align: top;
    width: 20px;
    height: 17px;
    margin-top: 1px;
    background-position: 0px -120px;
    text-indent: 0;
}
 
.btn_like .ani_heart_m {
    margin: -63px 0 0 -63px;
}

.ani_heart_m {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 125px;
    margin: -63px 0 0 -63px;
    pointer-events: none;
}

.ani_heart_m.hi {
    background-image: url(../images/daily/zzim_on_m.png);
    -webkit-background-size: 9000px 125px;
     background-size: 9000px 125px; 
    animation: on_m 1.06s steps(72);
}

.ani_heart_m.bye {
    background-image: url(../images/daily/zzim_off_m.png);
    -webkit-background-size: 8250px 125px;
    background-size: 8250px 125px;
    animation: off_m 1.06s steps(66);
}

@keyframes on_m {
  from { background-position: 0 }
  to { background-position: -9000px }
}

@keyframes off_m {
  from { background-position: 0 }
  to { background-position: -8250px }
}

.detil-custom-1{
	width: auto ;
	height: auto;
	min-height: 625px;
}


.img-wrapper{display:inline-block;overflow:hidden;}
.img-wrapper img{
transition:all .5s ease;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-ms-transition:all .5s ease;
-o-transition:all .5s ease;
vertical-aligm:middle;
}
.img-wrapper img:hover{
transform:scale(1.2);
-webkit-transform:scale(1.2);
-ms-transform:scale(1.2);
-moz-transform:scale(1.2);
-o-transform:scale(1.2);
}


.display-none{
	display: none;
}

.be-ava-chatting {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin-right: 5px;
}


.searchbar{
   margin-bottom: auto;
   margin-top: 4px;
   height: 60px;
   background-color: #353b48;
   border-radius: 30px;
   padding: 10px;
}

.search_input{
	 color: white;
	 border: 0;
	 outline: 0;
	 background: none;
	 width: 0;
	 caret-color:transparent;
	 line-height: 40px;
	 transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
	 padding: 0 10px;
	 width: 450px;
	 caret-color:red;
	 transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
	 background: white;
	 color: #e74c3c;
}

.search_icon{
	 height: 40px;
	 width: 40px;
	 float: right;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 border-radius: 50%;
	 color:white;
	 text-decoration:none;
}




.fancybox-image{
	max-height: 90%;
}
.fancybox-image-html-div{
	margin-top:5px;
	text-align: center;
}

#imgPopupModal .modal-dialog {
	/* width: 900px; */
	width: 80%;
	height: 80%;
}

#imgPopupModal .modal-body img{
	display: inherit !important;
}

.thumbnail {
	margin-bottom: 6px;
}

.like-div  .gallery-detail{
	display: none;
}

#imgPopupModal .modal-dialog  img.zoom {
	 width: 100%;
    height: 100%;
}
#imgPopupModal .modal-content{
    background-color: #f5f5f500; 
    /* background-color:#31708f; */
    border: 0px;
    box-shadow: 0 0 black;
    margin-top: 70px
}
#imgPopupModal .close {
	opacity: 1;
	font-size: 0px;
}
#imgPopupModal button.close{
	
	padding: 10px;
	margin-left: 15px;
	background: rgba(255, 255, 255, 0.01);
}

#imgPopupModal .modal-header{
	padding: 0px;
}

.like-div{
	margin-top: 10px;
}
